body {
  background-color:orange;}
img{
    height:200px;
    width: 300px;
    border-radius:50px; 
    }
   .aclass{ 
    font-family: 'Libre Franklin', sans-serif;
    font-size:40px;
    text-align:center;
    color:white;
    } 
 
    